<nav>
  <%= link_to "Feed", posts_path %> |
  <%= link_to "Users", users_path %> |
  <%= link_to "Follow Requests", follow_requests_path %> |
  <%= link_to "My Profile", user_path(current_user) %> |
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
</nav>
<hr>
